In [86]:
# import libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import GridSearchCV

In [93]:
# convert file to dataframe
# Inspect dataframe
Train = pd.read_csv(r"C:\Users\fkole\Desktop\Kemi_Drive\Other_springboard\Capstone_1_project\bank-additional.csv", sep=';')
print(Train.shape)
Train.head()

(4119, 21)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [97]:
# View summary statistics
print(Train.describe())

               age     duration     campaign        pdays     previous  \
count  4119.000000  4119.000000  4119.000000  4119.000000  4119.000000
mean     40.113620   256.788055     2.537266   960.422190     0.190337
std      10.313362   254.703736     2.568159   191.922786     0.541788
min      18.000000     0.000000     1.000000     0.000000     0.000000
25%      32.000000   103.000000     1.000000   999.000000     0.000000
50%      38.000000   181.000000     2.000000   999.000000     0.000000
75%      47.000000   317.000000     3.000000   999.000000     0.000000
max      88.000000  3643.000000    35.000000   999.000000     6.000000

       emp.var.rate  cons.price.idx  cons.conf.idx    euribor3m  nr.employed
count   4119.000000     4119.000000    4119.000000  4119.000000  4119.000000
mean       0.084972       93.579704     -40.499102     3.621356  5166.481695
std        1.563114        0.579349       4.594578     1.733591    73.667904
min       -3.400000       92.201000     -50.800000     0.635000  4963.600000
25%       -1.800000       93.075000     -42.700000     1.334000  5099.100000
50%        1.100000       93.749000     -41.800000     4.857000  5191.000000
75%        1.400000       93.994000     -36.400000     4.961000  5228.100000
max        1.400000       94.767000     -26.900000     5.045000  5228.100000